.card-array-wrapper {
    height: 96%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    overflow-y: auto;
}
  
.card-array-wrapper > .mtg-card {
    /* Card Ratio is 32 by 45 */
    width: 32%;
    aspect-ratio: 32/ 45;

    padding: .5%;
}
  
.card-array-wrapper > .mtg-card > img {
    width: 100%;
    height: 100%;
}

.card-array-wrapper > .mtg-card.selected {
    font-size: 15px;
    overflow-y: auto;
    text-overflow: ellipsis;
}

button.toggle-included {
    position: absolute;
    right: 0;
    top: 0;
    
}