.card-tile {
    width: 100%;
    border: 1px solid black;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* .card-tile > * {
    border: 2px solid red;
} */

.card-tile > button {
    padding: 0px;
    display: flex;
    border:none;
    margin-left: 1px;
    margin-right: 1px;
}
